* {
  margin: 0;
}

:root {
  --background: 0 0% 99%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 90%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 75.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --radius: 0.5rem;
  --icon-color: rgb(80, 80, 80);
}

.dark {
  --background: 0 0% 9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 12%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 12%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 22%;
  --input: 0 0% 20%;
  --ring: 0 0% 83.1%;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/NotoSansJP-SemiBold.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-color: #2E3039;
  font-family: noto , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maplibregl-popup .maplibregl-popup-content {
  border: 1px solid grey;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.maplibregl-popup-tip {
  display: none;
}

.z {
  position: relative;
  z-index: 1000;
}

