* {
  margin: 0;
}

:root {
  --background: hsl(0 0% 91%);
  --foreground: hsl(0, 1%, 16%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0, 3%, 70%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --border: hsl(0 0% 75.8%);
  --input: hsl(0 0% 89.8%);
  --radius: 0.5rem;
  --icon-color: rgb(80, 80, 80);
}

.dark {
  --background: hsl(0 0% 9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 12%);
  --card-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 22%);
  --input: hsl(0 0% 20%);
  --ring: hsl(0 0% 83.1%);
  --icon-color: rgb(226, 226, 226);
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/NotoSansJP-SemiBold.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-color: #2E3039;
  font-family: noto , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--foreground);
}

.maplibregl-popup .maplibregl-popup-content {
  border: 1px solid var(--muted-foreground);
  border-radius: var(--radius);
  background-color: var(--accent);
  padding: 12px;
  font-size: 0.8rem;
  font-family: noto , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maplibregl-popup-tip {
  display: none;
}

.z {
  position: relative;
  z-index: 1000;
}

